name: Build and Push Docker Image

on:
  push:
    branches:
      - feature/nestjs

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build and Push Docker Image
        run: |
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
          docker build -t $DOCKER_USERNAME/fiap_tech_2:latest --build-arg MONGO_URI=${{ secrets.DB_MONGO_URL }} --build-arg JWT_SECRET=${{ secrets.JWT_SECRET }} --build-arg PORT=${{ secrets.PORT }} .
          docker push $DOCKER_USERNAME/fiap_tech_2:latest
 
